<!DOCTYPE html>
<html>
	<head>
		<title>Bitgon</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/assets/bootstrap.css" rel="stylesheet">
		<link href="/assets/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/bootstrap-theme.css" rel="stylesheet">
		<link href="/assets/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/assets/style.css" rel="stylesheet">
		<link href="/assets/font-awesome.css" rel="stylesheet">
		<link href="/assets/font-awesome.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700i" rel="stylesheet">
	</head>
	<body>
	aa
		<%= yield %>

	</body>
</html>
